/* container for button */
.button-container {
  height: 50%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* region container for creating zingtouch region around the circle*/
.button-region-container {
  margin: 0;
  height: 80%;
  width: 80%;
  overflow: hidden;
  border-radius: 50%;
}

/* main button container */
.inner-button-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-image: linear-gradient(to right, #e5b17a, #c66d18, #f3be8c); */
}

/* upper container container menu button */
.up-button-container {
  margin: 0px;
  padding: 0px;
  width: 99%;
  height: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* center button container containing forward, backward and center click button */
.center-button-container {
  margin: 0;
  padding: 0;
  width: 99%;
  height: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* down button container containing pause play button */
.down-button-container {
  margin: 0;
  padding: 0;
  width: 99%;
  height: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css for styling every button inside the component */
.button {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}

/* setting outline to none when button in focus */
.button:focus {
  outline: none;
}

/* setting the size of img inside the button */
.button img {
  height: 65%;
  width: 65%;
}

/* setting background color and border radius for center button */
.center-button {
  border-radius: 50%;
  background-color: #e1fffe;
}
