/*css for screen contaier to display every item like music, setting, coverflow with same size and styles */
.screen-item-container {
  height: 99%;
  width: 99%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
