.menu-container {
  border: 2px solid black;
  height: 99%;
  width: 99%;
  margin: 0;
  background-image: url('../images/screen-container-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
