.screen-container {
  background-image: url('../images/screen-container-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  border: 2px solid green;
  width: 99%;
  margin: 0px;
}
