/* style for main screen container contians ipod screen */
.screen-container {
  height: 50%;
  width: 99%;
  margin: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
